<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sarafan</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script th:inline="javascript">
        let frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<h3>SARAFAN</h3>
<div id="app">{{ messages }}</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>